@import "../variables/colors";
@import "../mixins/media";



div.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
        display: flex;
        width: 100%;

        @include media($medium) {
            &#account {
                justify-content: end;
            }

        }
    }
}

a.nav-link {
    font-size: 16px;
    font-weight: bold;
    color: $links;
}

ul.nav {

    a.nav-link {
        font-stretch: normal;
        font-style: normal;
        line-height: 1.38;
        letter-spacing: normal;
        text-align: center;
        border-bottom: solid 4px transparent ;

        &:hover {
            color: $red;
            border-bottom: solid 4px $red ;
        }
    }
}